[phases.setup]
nixPkgs = ["nodejs", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm run generate"]

[start]
cmd = "npx serve dist"

[variables]
BUILD_TIME = "NOTION_KEY VITE_NOTION_KEY DATABASE_ID AUTHOR_DB_ID VITE_AUTHOR_DB_ID VITE_PROJECTS_DB_ID VITE_SERVICES_DB_ID VITE_TESTIMONIALS_DB_ID VITE_WORK_EXPERIENCE_DB_ID VITE_ABOUT_DB_ID VITE_SOCIAL_LINKS_DB_ID VITE_HOME_HERO_DB_ID VITE_SITE_SETTINGS_DB_ID VITE_CATEGORIES_DB_ID"
CI = "true"
NIXPACKS_METADATA = "node"
NIXPACKS_SPA_OUTPUT_DIR = "dist"
NODE_ENV = "production"
NPM_CONFIG_PRODUCTION = "false"

[env]
# Propagate build args to runtime env variables
NOTION_KEY = "${NOTION_KEY}"
VITE_NOTION_KEY = "${VITE_NOTION_KEY}"
DATABASE_ID = "${DATABASE_ID}"
AUTHOR_DB_ID = "${AUTHOR_DB_ID}"
VITE_AUTHOR_DB_ID = "${VITE_AUTHOR_DB_ID}"
VITE_PROJECTS_DB_ID = "${VITE_PROJECTS_DB_ID}"
VITE_SERVICES_DB_ID = "${VITE_SERVICES_DB_ID}"
VITE_TESTIMONIALS_DB_ID = "${VITE_TESTIMONIALS_DB_ID}"
VITE_WORK_EXPERIENCE_DB_ID = "${VITE_WORK_EXPERIENCE_DB_ID}"
VITE_ABOUT_DB_ID = "${VITE_ABOUT_DB_ID}"
VITE_SOCIAL_LINKS_DB_ID = "${VITE_SOCIAL_LINKS_DB_ID}"
VITE_HOME_HERO_DB_ID = "${VITE_HOME_HERO_DB_ID}"
VITE_SITE_SETTINGS_DB_ID = "${VITE_SITE_SETTINGS_DB_ID}"
VITE_CATEGORIES_DB_ID = "${VITE_CATEGORIES_DB_ID}"